body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  font-size: 12px !important;
  height: 20px;
  background-color: #474747;
}
nav {
  font-size: 12px;
}

#first {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("../src/assests/img/first.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#second {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("../src/assests/img/second.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#third {
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url("../src/assests/img/third.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mask .btn-outline-warning {
  margin-left: 80px;
}
.mask {
  margin-top: 400px;
  /* margin-left: 200px !important; */
}
.students {
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url("../src/assests/img/second.jpg");
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.courses{
  font-size: 14px;
}
.courses .card{
  cursor: pointer;
}
/* .courses .card:hover{
  -webkit-transition: background 2.4s 0s ease;
-moz-transition: background 2.4s 0s ease;
-o-transition: background 2.4s 0s ease;
transition: background 2.4s 0s ease;
} */
.courses .card p{
  font-size: 12px;
}

@media (max-width: 687px) {
  #first {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
      url("../src/assests/img/first.jpg");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #second {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
      url("../src/assests/img/second.jpg");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #third {
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
      url("../src/assests/img/third.jpg");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn-outline-warning {
    width: 50% !important;
    /* width: 100% !important; */
  }
  .mask {
    margin-top: 200px;
  }

  .mask p {
    font-size: 12px;
  }
  .row {
    width: 100% !important;
    padding: 2px;
  }
  .col-md-6,
  .col-md-3 {
    margin-top: 3px;
  }
  .obj p {
    font-size: 12px;
  }
  .obj div {
    width: 100% !important;
  }
  .objs {
    margin-top: 5px !important;
  }
  .staff {
    flex-direction: column;
  }
  .w-50 {
    width: 100% !important;
  }
  .students p{
    width: 100%;
    font-size: 12px;
  }
  .students button{
    width: 100% !important
  }
  .contact{
    width: 100% !important;
  }
}
